@import "../../styles/colors.css";
.container{
    composes:block from "../../styles/globalStyles.css";
    background-color: var(--card);
    padding: 10px;
    margin: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.name {
    font-weight: bold;
}
.right{
text-align: right;
align-content: right;
float:right;
margin-right: 5px;
}

.category{
    composes: right;
    color: slategrey;
}


