@import "../styles/colors.css";

.button{
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: .5em 2em .55em;
    border-radius: .5em;
    color: var(--text_button);
    background: var(--card);
}