@import "./colors.css";



.block{
    display: block;
    composes: simple from './text.css';
    width: 100%;
}

.container {
    composes:block;
    margin-left: 20%;
    margin-bottom: 10px;
    width: 60%;
    background-color: var(--card);
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.col {
    float: left;
    margin-top: 6px;
}

.col25 {
    composes: col;
    width: 25%;
}

.col50 {
    composes: col;
    width: 50%;
}

.col75 {
    composes: col;
    width: 75%;
}


.row:after {
    margin: auto;
    content: "";
    display: table;
    clear: both;
}

.button{
    display: inline-block;
    composes: simple from './text.css';
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    margin-right: 5px;
    color: var(--border);
    background: var(--card);
    padding: 10px;
    border: 4px solid var(--border);
    cursor: default;
}

.button:hover{
    color:  var(--card);
    background: var(--details);
    border-color:  var(--details);
    transition: all 0.4s ease 0s;
}