.simple{
    font-family: "Calibri Light";
    font-size: 18px;
    color: black;
    float: left;
}

.header1{
    composes: simple;
    font-size: 22px;
    font-weight: bold;
}

.header2{
    composes: simple;
    font-size: 20px;
}
