@import "../../styles/colors.css";


.header{
    composes: block from "../../styles/blocks.css";
    text-align: center;
    border-bottom: 10px #cfdcdb;
}

.footer{
    composes: header;
    position: absolute;
    bottom: 0;
    height: 58px;
}