input[type=text] {
    font-size: 18px;
    color: black;
    float: left;

    width: 75%;
    border: 1px solid var(--input);
    resize: vertical;
}

.col33{
    composes: col from "../../styles/globalStyles.css";
    width: 33%;
}

.button {
    composes: button from "../../styles/globalStyles.css";
    margin: 0px;
}

.removeButton{
    composes: button from "../../styles/globalStyles.css";
    margin-top: 0px;
    padding: 5px 10px 5px 10px;
}